* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Apply the class with specific values */
.my-custom-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Example weight value */
  font-style: normal;
}

.font {
  color: #a9a8b6;
  font-size: 20px;
  font-style: normal;
}

.font1 {
  color: #f60515;
  font-size: 39.8px;
}

body {
  font-family: "DM snas", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  height: 100vh;
}

.main-header {
  /* border: 1px solid; */
  height: 120px;
  margin: 0;
}

.blue-header {
  width: auto;
  background-color: #0169c8;
  height: 44px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 44px;
  margin-left: 155px;
  padding: 5px;
}

.phone {
  color: #a9a8b6;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone:hover {
  text-decoration: underline;

  cursor: pointer;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.funBtn {
  padding: 10px 15px;
  background: #f60515;
  color: white;
  width: 246px;
  height: 44px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  width: auto;
  margin-left: 150px;
  gap: 200px;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  width: 741px;
  height: 34px;
  padding: 10px 10px;
  justify-content: center;
}

.nav__item {
  padding: 15px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #67666e;
    transition: font-size 0.3s, color 0.3s; /* Add transition properties */
  }

  a:hover {
    font-size: 20px;
    font-style: bold;
    color: #0169c8;
    cursor: pointer;
  }
}

/* slider */

.slider {
  width: 100%; /* Ensure the slider container takes up the full width of its parent */
  overflow: hidden; /* Ensure the image doesn't overflow its container */
  position: relative;
  text-align: center;
  height: 700px;
}

.slider .slider_img {
  width: 100%; /* Set the width of the image to 100% of its container */
  height: auto; /* Maintain the aspect ratio of the image */
  filter: brightness(30%);
}

.arrow {
  position: absolute; /* Position the arrows relative to the slider container */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertically to center */
  z-index: 1;
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust proportionally */
  margin: 0 20px;
}

.arrow.left {
  left: 0; /* Position the left arrow on the left side */
}

.arrow.right {
  right: 0; /* Position the right arrow on the right side */
}

.hero_text {
  z-index: 1;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center the element both horizontally and vertically */
}

.head {
  font-size: 120px;
  color: #f60515;
  width: 700px;
  height: 130px;
}

.sub_head {
  margin-top: 10px;
  font-size: 40px;
  color: white;
}

/* plan your trip section */
.section {
  padding: 6rem 3rem;
  /* border-top: 1px solid #ddd; */
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: auto 8rem auto;
}

.section__description {
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
  color: #0169c8;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.margin-top {
  margin-top: 10rem;

  button {
    color: white;
    padding: 10px 10px;
    background-color: #f60515;
    border-radius: 8px;
    width: 200px;
    height: 52px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.check__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  padding: 5px;
}

.check_list_desc {
  color: #0169c8;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

/* our offerings */
.section__title_1 {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offerings-img {
  margin: auto; /* Center the grid horizontally */
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns in each row */
  grid-template-rows: auto; /* Automatically adjust row height */
  gap: 10px;
}

.img-div {
  width: 100%; /* Ensure each div takes up the entire width of its grid cell */
  height: 100%; /* Ensure each div takes up the entire height of its grid cell */
  overflow: hidden; /* Hide any overflow to prevent distortion */
}

.img-div img {
  width: 100%; /* Ensure images take up the entire width of their parent div */
  height: 100%; /* Ensure images take up the entire height of their parent div */
  object-fit: cover; /* Maintain aspect ratio and cover the entire div */
  border-radius: 20px;
}

/* tours */

.card-container {
  width: 100%;
  /* background-color: #0169c8; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 550px;
  gap: 20px;
  overflow: hidden;
}

.card {
  width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgb(203, 202, 202);

  img {
    border-radius: 8px;
  }
}

.card-details {
  padding: 20px 40px;

  p {
    color: #686868;
    font-weight: 500;
    font-size: 15px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0169c8;
  }

  span {
    color: #f60515;
    font-size: 20px;
  }
}

.card-sub-details {
  padding: 5px 5px;
  margin-top: 30px;
  width: 288px;
  height: 36px;
  background-color: #faf5ee;
  border-radius: 8px;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  color: #686868;
  letter-spacing: 1px;

  p {
    font-size: 12px;
  }
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 20px;
  gap: 5px;
  margin-top: 50px;
}

.dots {
  width: 12px;
  height: 12px;
  background-color: #0169c8;
  border-radius: 50%;
}

.dots-active {
  background-color: #f60515;
  width: 10px;
  height: 10px;
}

.welcome-section {
  width: 100%;
  height: 746px;
  background-color: #0169c8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.welcome-img {
  margin-top: 100px;
  /* margin-left: 50px; */
  width: 500px;
  height: 350px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 77px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1.4); /* Add a drop shadow */
  }
}

.seperator {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 7px;
  gap: 2.5px;

  .main-sep {
    width: 5px;
    height: 100%;
    background-color: white;
  }

  .sub-sep {
    width: 2px;
    height: 100%;
    background-color: white;
  }
}

.welcome-text {
  width: 670px;
  height: 650px;
  margin-top: 50px;

  h3 {
    letter-spacing: 2px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  p {
    word-spacing: 5px;
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 500;
  }
}

/* partner section */

.partner {
  padding: 20px 20px;
  width: 100%;
  height: 220px;
  background-color: #f60515;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  h3 {
    color: white;
    font-weight: normal;
    font-size: 30px;
  }

  img {
    filter: brightness(80%);
  }
}

/* testimonal and review */

.reviews-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.reviews {
  width: 370px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .reviews_text {
    margin-top: 10px;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 52px;
    gap: 13px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgb(203, 202, 202);
    span {
      font-size: 20px;
    }

    p {
      font-size: 18px;
      font-weight: normal;
      color: #787780;
    }

    h3 {
      color: #0169c8;
      font-size: 20px;
      font-weight: bold;
    }

    h4 {
      color: #f60515;
      font-size: 16px;
    }
  }
}

/* gallery */

.gallery_section {
  width: auto;
  height: 581px;
  background-color: #0169c8;
  position: relative;
  display: flex;
  align-items: center;

  .map {
    top: 0%;
    position: absolute;
  }
  .map1 {
    position: absolute;
    right: 100px;
    top: -100px;
  }

  .gallery {
    width: auto;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    overflow: hidden;

    img {
      width: 295px;
      height: 319px;
      object-fit: cover;
      z-index: 1;
      border-radius: 20px;
    }
  }
}

/* benefits */

.benefits_section {
  width: auto;
  height: 718px;
  background-color: #0169c8;
  display: flex;
  gap: 30px;
  position: relative;

  .map {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .benefits_img {
    z-index: 1;
    width: 800px;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    img {
      width: 750px;
      height: 100%;
      object-fit: cover;
      border-radius: 0 8px 0 0;
    }

    .red-line {
      width: 12px;
      height: 470px;
      background-color: #f60515;
      border-radius: 0 6px 6px 0;
    }
  }

  .benefits_details {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    width: 600px;
  }

  .head-text {
    z-index: 1;
    h3 {
      font-size: 30px;
      color: white;
      font-weight: bold;
      line-height: 30px;
      padding-bottom: 10px;
    }

    h2 {
      font-size: 45px;
      color: white;
      font-weight: bold;
      line-height: 60px;
    }
  }
  .other-text {
    z-index: 1;
    width: 500px;
    p {
      font-size: 18px;
      color: #9fa4b7;
      font-weight: normal;
    }
  }

  .benefits-list {
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .list-details {
      width: 430px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        color: white;
        font-size: 20px;
        font-weight: normal;
      }
      p {
        font-size: 18px;
        font-weight: normal;
        color: #9fa4b7;
      }
    }
  }
}

/* footer */
.footer {
  width: auto;
  height: 600px;
  background-color: #e5f7f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-content {
  width: auto;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  .footer-details {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    p {
      font-size: 15px;
      color: black;
    }

    .contact-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;

      .detail1 {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 15px;
          font-weight: bold;
          color: #787780;
        }
      }
    }
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: fit-content;

    h3 {
      color: black;
      font-size: 25px;
      font-weight: bold;
    }

    .footer_links {
      margin-top: 10px;
      list-style: none;
      .link_item {
        padding: 10px 10px;
      }
      a {
        font-size: 15px;
        color: #787780;
        font-weight: 600;
        line-height: 34px;
      }
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    input {
      width: 370px;
      height: 65px;
      background-color: #292837;
      border-radius: 8px;
      text-align: center;
      border: none;
    }

    input:focus {
      color: white;
    }

    button {
      width: 370px;
      height: 65px;
      background-color: #f60515;
      border-radius: 8px;
      text-align: center;
      color: white;
      border: none;
      letter-spacing: 2px;
      font-size: 15px;
    }

    p {
      color: #787780;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.footer-bottom {
  width: 90%;
  height: 100px;
  display: flex;
  background-color: whitesmoke;

  .copy-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    p {
      margin-left: 100px;
      font-size: 15px;
      font-weight: 500;
      color: #787780;
    }

    .icon {
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .red-arrow {
    width: 10%;
    height: 100%;
    background-color: #f60515;
    border-radius: 0 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 30px;
    }
  }
}
