* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Apply the class with specific values */
.my-custom-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Example weight value */
  font-style: normal;
}

.font {
  color: #a9a8b6;
  font-size: 20px;
  font-style: normal;
}

.font1 {
  color: #f60515;
  font-size: 39.8px;
}

body {
  font-family: "DM snas", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  height: 100vh;
}

.main-header {
  /* border: 1px solid; */
  height: 120px;
  margin: 0;
}

.blue-header {
  width: auto;
  background-color: #0169c8;
  height: 44px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 44px;
  margin-left: 155px;
  padding: 5px;
}

.phone {
  color: #a9a8b6;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone:hover {
  text-decoration: underline;

  cursor: pointer;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.funBtn {
  padding: 10px 15px;
  background: #f60515;
  color: white;
  width: 246px;
  height: 44px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  width: auto;
  margin-left: 150px;
  gap: 200px;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  width: 741px;
  height: 34px;
  padding: 10px 10px;
  justify-content: center;
}

.nav__item {
  padding: 15px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #67666e;
    transition: font-size 0.3s, color 0.3s; /* Add transition properties */
  }

  a:hover {
    font-size: 20px;
    font-style: bold;
    color: #0169c8;
    cursor: pointer;
  }
}

/* hero section */

.section {
  width: auto;
  height: 700px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact {
    width: 80%;
    height: 450px;
    z-index: 1;
    position: absolute;
    top: 35%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Center the element both horizontally and vertically */

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;

    .highlight-text {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 20px;
      width: 590px;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.667);

      h2 {
        font-size: 35px;
        color: white;
        font-weight: normal;
      }
      p {
        font-size: 21px;
        color: white;
        font-weight: normal;
      }
    }

    .form {
      width: 380px;
      height: 470px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px 10px;

      label {
        font-size: 24px;
        color: black;
        font-weight: 600;
      }

      input {
        width: 340px;
        height: 50px;
        border: 1px solid #67666e;
        border-radius: 5px;
        padding: 5px 5px;
      }

      input:focus {
        color: black;
      }

      p {
        color: black;
        font-size: 13px;
        padding-left: 15px;
      }

      button {
        width: 330px;
        height: 55px;
        background-color: #f60515;
        color: white;
        text-align: center;
        border: 1px solid black;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }
}
