* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.island-moments-regular {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Apply the class with specific values */
.my-custom-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Example weight value */
  font-style: normal;
}

body {
  font-family: "DM snas", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  height: 100vh;
}

.font {
  color: #a9a8b6;
  font-size: 20px;
  font-style: normal;
}

.font1 {
  color: #f60515;
  font-size: 39.8px;
}

.main-header {
  /* border: 1px solid; */
  height: 120px;
  margin: 0;
}

.blue-header {
  width: auto;
  background-color: #0169c8;
  height: 44px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 44px;
  margin-left: 155px;
  padding: 5px;
}

.phone {
  color: #a9a8b6;
  font-size: small;
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone:hover {
  text-decoration: underline;

  cursor: pointer;
}

.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* instagram */
.instagram {
  transition: 200ms;
}

.instagram:hover {
  transform: scale(2);
  cursor: pointer;
}
/* facebook */
.facebook {
  transition: 200ms;
}

.facebook:hover {
  transform: scale(2);
  cursor: pointer;
}

/* twitter */
.twitter {
  transition: 200ms;
}

.twitter:hover {
  transform: scale(2);
  cursor: pointer;
}
/* printrest */
.printrest {
  transition: 200ms;
}

.printrest:hover {
  transform: scale(2);
  cursor: pointer;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.funBtn {
  padding: 10px 15px;
  background: #f60515;
  color: white;
  width: 246px;
  height: 44px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  width: auto;
  margin-left: 150px;
  gap: 200px;
  z-index: 100;
  padding: 10px;
  border-radius: 10px;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  width: 741px;
  height: 34px;
  padding: 10px 10px;
  justify-content: center;
}

.nav__item {
  padding: 15px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #67666e;
    transition: font-size 0.3s, color 0.3s; /* Add transition properties */
  }

  a:hover {
    font-size: 20px;
    font-style: bold;
    color: #0169c8;
    cursor: pointer;
  }
}

.menu {
  display: none;
}

/* slider */

.slider {
  width: 100%; /* Ensure the slider container takes up the full width of its parent */
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* THIS creates the animation! */
  transition: 400ms opacity ease-in-out;
  transition-delay: 200ms;
}

.active--slide {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide .slider_img {
  height: 100%; /* Maintain the aspect ratio of the image */
  width: 100%;
  filter: brightness(30%);
  object-fit: cover;
  object-position: center;
  transition: 1s;
}

.slide:hover .slider_img {
  transform: scale(1.5);
}

.arrow {
  position: absolute; /* Position the arrows relative to the slider container */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertically to center */
  z-index: 2;
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust proportionally */
  margin: 0 20px;
}

.arrow.left {
  left: 0; /* Position the left arrow on the left side */
}

.arrow.right {
  right: 0; /* Position the right arrow on the right side */
}

.hero_text {
  z-index: 1;
  position: absolute;
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center the element both horizontally and vertically */
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  transition-delay: 200ms;
}

.head {
  font-size: 120px;
  color: #f60515;
  width: 700px;
  height: 130px;
}

.sub_head {
  margin-top: 10px;
  font-size: 40px;
  color: white;
}

/* plan your trip section */
.section {
  padding: 4rem 2rem;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 60rem;
  /* margin: auto; */
}

.section__description {
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
  color: #0169c8;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.margin-top {
  margin-top: 10rem;

  button {
    color: white;
    padding: 10px 10px;
    background-color: #f60515;
    border-radius: 8px;
    width: 200px;
    height: 52px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.check__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  padding: 5px;
}

.check_list_desc {
  color: #0169c8;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

/* our offerings */
.section__title_1 {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offerings-img {
  margin: auto; /* Center the grid horizontally */
  margin-top: 3rem; /* Adjusted margin-top for responsiveness */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(500px, 1fr)
  ); /* Adjusted grid layout for responsiveness */
  grid-template-rows: auto; /* Automatically adjust row height */
  gap: 20px; /* Adjusted gap between images */
}

.img-div {
  border-radius: 20px;
  overflow: hidden; /* Hide overflow for rounded corners */
  position: relative;
}

.img-div img {
  width: 100%; /* Ensure images take up the entire width of their parent div */
  height: 100%; /* Ensure images take up the entire height of their parent div */
  object-fit: cover; /* Maintain aspect ratio and cover the entire div */
  border-radius: 20px;
  transition: 1s;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1.4s;
}

.img-div:hover .card-body {
  right: 0;
}

.img-div:hover img {
  transform: scale(1.1);
}

.card-title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  color: #f60515;
  letter-spacing: 1px;
}

.card-sub-title {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
}

.card-info {
  font-size: 16px;
  line-height: 20px;
  margin: 30px 0;
  font-weight: 400;
}

.card-btn {
  color: white;
  background-color: #f60515;
  padding: 10px 20px;
  width: 120px;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

/* tours */

.wrapper {
  margin-top: 15px;
  max-width: 1500px;
  width: 100%;
  position: relative;
  /* height: auto; */
}
.wrapper i {
  top: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 10%;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); */
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i img {
  width: 50%;
  height: 50%;
  text-align: center;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  height: auto;
}
.carousel .card .img {
  background: #0169c8;
  height: 100%;
  width: 100%;
}
.card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

/* .card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 550px;
  gap: 20px;
  overflow: hidden;
}

.card {
  width: 370px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgb(203, 202, 202);

  img {
    border-radius: 8px;
  }
}

.card-details {
  padding: 20px 40px;

  p {
    color: #686868;
    font-weight: 500;
    font-size: 15px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0169c8;
  }

  span {
    color: #f60515;
    font-size: 20px;
  }
}

.card-sub-details {
  padding: 5px 5px;
  margin-top: 30px;
  width: 288px;
  height: 36px;
  background-color: #faf5ee;
  border-radius: 8px;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  color: #686868;
  letter-spacing: 1px;

  p {
    font-size: 12px;
  }
} */

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 20px;
  gap: 5px;
  margin-top: 50px;
}

.dots {
  width: 12px;
  height: 12px;
  background-color: #0169c8;
  border-radius: 50%;
}

.dots-active {
  background-color: #f60515;
  width: 10px;
  height: 10px;
}

.welcome-section {
  width: 100%;
  height: 746px;
  background-color: #0169c8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.welcome-img {
  margin-top: 60px;
  margin-left: 50px;
  width: 500px;
  height: 350px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 77px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1.4); /* Add a drop shadow */
  }
}

.seperator {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 7px;
  gap: 2.5px;

  .main-sep {
    width: 5px;
    height: 100%;
    background-color: white;
  }

  .sub-sep {
    width: 2px;
    height: 100%;
    background-color: white;
  }
}

.welcome-text {
  width: 670px;
  height: 650px;
  margin-top: 50px;

  h3 {
    letter-spacing: 2px;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  p {
    word-spacing: 5px;
    color: #b1b1b1;
    font-size: 16px;
    font-weight: 500;
  }
}

/* partner section */

.partner {
  padding: 20px 20px;
  width: 100%;
  height: 220px;
  background-color: #f60515;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  h3 {
    color: white;
    font-weight: normal;
    font-size: 30px;
  }

  img {
    filter: brightness(80%);
  }
}

/* testimonal and review */

.wrapper .carousel-review {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-review::-webkit-scrollbar {
  display: none;
}
.carousel-review.no-transition {
  scroll-behavior: auto;
}
.carousel-review.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-review.dragging .card-review {
  cursor: grab;
  user-select: none;
}
.carousel-review :where(.card-review, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-review .card-review {
  scroll-snap-align: start;
  height: auto;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
}
.carousel-review .card-review .img {
  background: #0169c8;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card-review .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel-review .card-review h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: #f60515;
  font-family: "DM Sans", sans-serif;
}
.carousel-review .card-review span {
  color: #6a6d78;
  font-size: 1.31rem;
  padding: 10px;
  font-family: "DM Sans", sans-serif;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel-review {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel-review {
    grid-auto-columns: 100%;
  }
}

/* .reviews-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

.reviews {
  width: 370px;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .reviews_text {
    margin-top: 10px;
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 52px;
    gap: 13px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgb(203, 202, 202);
    span {
      font-size: 20px;
    }

    p {
      font-size: 18px;
      font-weight: normal;
      color: #787780;
    }

    h3 {
      color: #0169c8;
      font-size: 20px;
      font-weight: bold;
    }

    h4 {
      color: #f60515;
      font-size: 16px;
    }
  }
} */

/* gallery */

.gallery_section {
  width: auto;
  height: 581px;
  background-color: #0169c8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .map {
    top: 0%;
    left: 0;
    position: absolute;
  }
  .map1 {
    position: absolute;
    right: 100px;
    top: -100px;
  }

  /* .gallery {
    width: auto;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    overflow: hidden;

    img {
      width: 295px;
      height: 319px;
      object-fit: cover;
      z-index: 1;
      border-radius: 20px;
    }
  } */
}

/* benefits */

.benefits_section {
  width: auto;
  height: 718px;
  background-color: #0169c8;
  display: flex;
  gap: 25px;
  position: relative;

  .map {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .benefits_img {
    z-index: 1;
    width: 800px;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    img {
      width: 650px;
      height: 100%;
      object-fit: cover;
      border-radius: 0 8px 0 0;
    }

    .red-line {
      width: 12px;
      height: 470px;
      background-color: #f60515;
      border-radius: 0 6px 6px 0;
    }
  }

  .benefits_details {
    margin-top: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
    width: 600px;
  }

  .head-text {
    z-index: 1;
    h3 {
      font-size: 30px;
      color: white;
      font-weight: bold;
      line-height: 30px;
      padding-bottom: 10px;
    }

    h2 {
      font-size: 45px;
      color: white;
      font-weight: bold;
      line-height: 60px;
    }
  }
  .other-text {
    z-index: 1;
    width: 500px;
    p {
      font-size: 18px;
      color: #9fa4b7;
      font-weight: normal;
    }
  }

  .benefits-list {
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .list-details {
      width: 430px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        color: white;
        font-size: 20px;
        font-weight: normal;
      }
      p {
        font-size: 18px;
        font-weight: normal;
        color: #9fa4b7;
      }
    }
  }
}

/* contact-form */
.section-form {
  width: auto;
  height: 700px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .contact {
    width: 80%;
    height: 450px;
    z-index: 1;
    position: absolute;
    top: 45%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(
      -50%,
      -50%
    ); /* Center the element both horizontally and vertically */

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;

    .highlight-text {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 20px;
      width: 590px;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.667);

      h2 {
        font-size: 35px;
        color: white;
        font-weight: normal;
      }
      p {
        font-size: 21px;
        color: white;
        font-weight: normal;
      }
    }

    .form {
      width: 380px;
      height: 470px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px 10px;

      label {
        font-size: 24px;
        color: black;
        font-weight: 600;
      }

      input {
        width: 340px;
        height: 50px;
        border: 1px solid #67666e;
        border-radius: 5px;
        padding: 5px 5px;
      }

      input:focus {
        color: black;
      }

      p {
        color: black;
        font-size: 13px;
        padding-left: 15px;
      }

      button {
        width: 330px;
        height: 55px;
        background-color: #f60515;
        color: white;
        text-align: center;
        border: 1px solid black;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
      }
    }
  }
}

.loader svg {
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite; /* Apply animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */
.footer {
  width: auto;
  height: 600px;
  background-color: #e5f7f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-content {
  width: auto;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  .footer-details {
    width: 350px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    p {
      font-size: 15px;
      color: black;
    }

    .contact-details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-start;

      .detail1 {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 15px;
          font-weight: bold;
          color: #787780;
        }
      }
    }
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: fit-content;

    h3 {
      color: black;
      font-size: 25px;
      font-weight: bold;
    }

    .footer_links {
      margin-top: 10px;
      list-style: none;
      .link_item {
        padding: 10px 10px;
      }
      a {
        font-size: 15px;
        color: #787780;
        font-weight: 600;
        line-height: 34px;
      }
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    input {
      width: 370px;
      height: 65px;
      background-color: #292837;
      border-radius: 8px;
      text-align: center;
      border: none;
    }

    input:focus {
      color: white;
    }

    button {
      width: 370px;
      height: 65px;
      background-color: #f60515;
      border-radius: 8px;
      text-align: center;
      color: white;
      border: none;
      letter-spacing: 2px;
      font-size: 15px;
    }

    p {
      color: #787780;
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.footer-bottom {
  width: 90%;
  height: 100px;
  display: flex;
  background-color: whitesmoke;

  .copy-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    p {
      margin-left: 100px;
      font-size: 15px;
      font-weight: 500;
      color: #787780;
    }

    .icon {
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .red-arrow {
    width: 10%;
    height: 100%;
    background-color: #f60515;
    border-radius: 0 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 30px;
    }
  }
}

/* Hide the mobile menu by default */
.mobile-menu {
  z-index: 2;
  position: absolute;
  top: 3%;
  background-color: white;
  width: 40vh;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774); /* Box shadow for a raised effect */
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Style for the mobile menu */
.mobile-nav {
  list-style: none;
  padding: 0;
}

.mobile-nav .nav__item {
  margin-bottom: 10px;
}

.mobile-nav .nav__link {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.mobile-nav .nav__link:hover {
  font-size: xx-large;
  color: #0169c8;
}

/* Show the mobile menu when it's active */
.active {
  display: block;
}

/* gallery */
.wrapper-gallery {
  /* max-width: 1400px; */
  width: 100%;
  position: relative;
  z-index: 1;
}

.wrapper-gallery .carousel-gallery {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-gallery::-webkit-scrollbar {
  display: none;
}
.carousel-gallery.no-transition {
  scroll-behavior: auto;
}
.carousel-gallery.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-gallery.dragging .card-gallery {
  cursor: grab;
  user-select: none;
}
.carousel-gallery :where(.card-gallery, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-gallery .card-gallery {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
}
.carousel-gallery .card-gallery .img {
  background: #0169c8;
  height: 100%;
  width: 100%;
}
.card-gallery .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media screen and (max-width: 900px) {
  .wrapper-gallery .carousel-gallery {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper-gallery .carousel-gallery {
    grid-auto-columns: 100%;
  }
}

/* responsive code */

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .main-header {
    height: 90px; /* Adjust header height */
  }

  .blue-header {
    height: 35px; /* Adjust blue header height */
  }

  .detail {
    width: 400px; /* Adjust width */
    height: auto;
    margin-left: 100px; /* Adjust left margin */
  }

  .icon-btn {
    height: 35px; /* Setting the height same as .blue-header */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .funBtn {
    width: 250px; /* Adjust button width */
    height: 100%;
    padding: 8px 12px; /* Adjust button padding */
    font-size: 10px; /* Adjust button font size */
  }

  .nav {
    margin-left: 100px; /* Adjust left margin */
    gap: 150px; /* Adjust gap between items */
    height: auto;
  }

  .logo img {
    width: 100px; /* Adjust logo width */
    height: 55px; /* Maintain aspect ratio */
  }

  /* hero section */
  .slider {
    height: 600px; /* Adjusted height */

    .slider_img {
      height: 100%;
      object-fit: cover;
    }
  }

  .head {
    font-size: 80px; /* Adjusted font size */
    width: 500px; /* Adjusted width */
    height: 100px; /* Adjusted height */
  }

  .sub_head {
    font-size: 30px; /* Adjusted font size */
  }

  /* plan you trip */
  .section__title {
    max-width: 40rem; /* Further reduced max-width for smaller screens */

    p {
      font-size: 1.5rem;
    }
  }
  .margin-top {
    margin-top: 5rem; /* Adjusted margin for shorter screens */

    p {
      font-size: 3rem;
    }
  }

  .section__title {
    max-width: 40rem; /* Further reduced max-width for smaller screens */
  }

  .section__description {
    font-size: 3rem; /* Adjusted font size for smaller screens */
  }

  .section__header {
    font-size: 3rem; /* Adjusted font size for smaller screens */
  }

  .check_list_desc {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }

  button {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  /* our offerings */
  .section__title_1 {
    margin-top: 2rem; /* Adjusted margin-top for responsiveness */
  }

  .section__header {
    font-size: 2rem;
  }

  /* benefits section */
  .benefits_section {
    .benefits_details {
      margin-top: 20px;
      gap: 25px;
      .head-text {
        h3 {
          font-size: 30px;
        }
        h2 {
          font-size: 40px;
        }
      }
    }
  }

  .footer {
    .footer-content {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .main-header {
    height: 120px; /* Adjust height for smaller screens */
    .blue-header {
      width: auto;
      background-color: #0169c8;
      height: 44px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .detail {
      margin-left: 0; /* Remove left margin for smaller screens */
      width: 50%; /* Set width to full for smaller screens */
      justify-content: space-around; /* Adjust spacing for smaller screens */
      gap: 10px; /* Adjust gap between items for smaller screens */
    }

    .phone:hover {
      border-bottom: 1px solid gray;
    }

    .icon-btn {
      gap: 10px; /* Adjust gap between items for smaller screens */
    }

    .funBtn {
      width: auto; /* Set width to auto for smaller screens */
      padding: 10px 20px; /* Adjust padding for smaller screens */
      font-size: 12px; /* Adjust font size for smaller screens */
    }

    .nav {
      margin-left: 0;
      gap: 50px;
      justify-content: space-around;

      .nav__links {
        width: auto; /* Set width to auto for smaller screens */
        gap: 20px; /* Adjust gap between items for smaller screens */
        a {
          font-size: 14px;
        }

        a:hover {
          font-size: 16px;
          font-style: bold;
          color: #0169c8;
          cursor: pointer;
        }
      }

      .nav__item {
        font-size: 14px; /* Adjust font size for smaller screens */
      }
    }
  }

  .slider {
    height: 500px;

    .head {
      font-size: 80px;
    }
    .sub_head {
      margin-top: 5px;
      font-size: 24px;
    }
  }

  .section {
    overflow: hidden;
  }

  .section__img {
    height: 400px;
    width: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .margin-top {
    margin-top: 2rem;

    span {
      font-size: 14px;
    }
  }

  .welcome-section {
    height: 650px;
  }

  .seperator {
    margin-top: 0;
  }

  .welcome-img {
    margin-top: 25px;
    width: 500px;
    height: 250px;
  }

  .welcome-text {
    p {
      font-size: 13px;
    }
  }

  .partner {
    height: 160px;
  }

  .reviews-container {
    width: 100%;
    .reviews {
      height: auto;
      .reviews_text {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .benefits_section {
    height: 550px;

    .benefits_img {
      width: 400px;
      img {
        width: 300px;
      }
    }

    .benefits_details {
      gap: 10px;

      .head-text {
        h3 {
          font-size: 22px;
        }
        h2 {
          font-size: 28px;
        }
      }
    }
  }

  .footer {
    gap: 10px;
    justify-content: start;
    align-items: normal;
    height: auto;
    .footer-content {
      gap: 12px;
      height: auto;

      .subscribe {
        input {
          width: 300px;
          height: 50px;
        }
        button {
          width: 300px;
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .main-header .funBtn {
    width: auto;
    padding: 10px 20px;
    font-size: 12px;
    height: 44px;
  }
  .main-header .nav {
    margin-left: 0;
    gap: 50px;
    justify-content: space-around;
    height: 76px;
  }

  .nav.sticky {
    position: fixed;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .slider_img {
    height: 100%;
    object-fit: cover;
  }

  /* Adjustments for responsiveness */
  .reviews-container {
    justify-content: center; /* Adjust alignment */
    align-items: center;
    overflow: hidden;
    margin-top: 40px; /* Reduce top margin for smaller screens */

    .reviews {
      width: 25%; /* Adjusted width for responsiveness */
      height: auto; /* Allow height to adjust based on content */
    }

    .reviews_text {
      padding: 30px; /* Adjusted padding for smaller screens */
      font-size: 14px; /* Adjusted font size for the reviews text */
    }

    .reviews_text span {
      font-size: 16px; /* Adjusted font size for review stars */
    }

    .reviews_text p {
      font-size: 14px; /* Adjusted font size for review text */
    }

    .reviews_text h3 {
      font-size: 16px; /* Adjusted font size for reviewer name */
    }

    .reviews_text h4 {
      font-size: 12px; /* Adjusted font size for reviewer role */
    }
  }

  /* benefits section */

  .benefits_section {
    width: auto;

    .benefits_img {
      width: 500px;
      img {
        width: 400px;
      }
    }

    .benefits_details {
      .head-text {
        h3 {
          font-size: 20px;
        }
        h2 {
          font-size: 24px;
        }
      }
      .other-text {
        p {
          font-size: 16px;
        }
      }

      .benefits-list {
        .list-details {
          h3 {
            font-size: 16px;
            font-weight: bold;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  /* footer */

  .footer {
    height: auto; /* Adjust height for smaller screens */

    .footer-content {
      flex-direction: row; /* Adjust layout for smaller screens */
      align-items: center; /* Center content for smaller screens */
      gap: 30px; /* Adjust gap for smaller screens */
    }

    .footer-details {
      width: auto; /* Adjust width for smaller screens */
      text-align: center; /* Center text for smaller screens */
      align-items: center; /* Center items for smaller screens */
      gap: 10px; /* Adjust gap for smaller screens */

      p {
        font-size: 10px; /* Adjust font size for smaller screens */
      }

      .contact-details {
        .detail1 {
          span {
            font-size: 12px;
          }
        }
      }
    }

    .footer-link {
      /* Styles for footer links */
      h3 {
        font-size: 18px;
      }
      .footer_links {
        a {
          font-size: 12px;
        }
      }
    }

    .subscribe {
      /* Styles for subscription section */
      input {
        width: 300px;
        height: 50px;
      }
      button {
        width: 300px;
        height: 50px;
      }
    }

    .footer-bottom {
      height: 80px; /* Adjust height for smaller screens */
    }

    .icon img {
      width: 20px; /* Adjust icon width for smaller screens */
      height: 20px; /* Adjust icon height for smaller screens */
    }
  }
}

@media screen and (max-width: 912px) and (max-height: 1368px) {
  .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 44px;
    margin-left: 10px;
    padding: 5px;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 75px;
    width: auto;
    margin-left: 10px;
    gap: 100px;
  }

  .section__img {
    width: 400px;
    height: 400px;
  }
  .section__img img {
    width: 100%;
    height: 100%;
  }

  .check_list_desc {
    color: #0169c8;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
  }

  .card-info {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0;
    font-weight: 400;
  }

  .flex {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
  }

  .welcome-section {
    width: 100%;
    height: auto;
    background-color: #0169c8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .welcome-img {
    margin-top: 60px;
    margin-left: 50px;
    width: 500px;
    height: 250px;
    position: relative;
  }

  .welcome-text h3 {
    letter-spacing: 2px;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .welcome-text p {
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
  }
  .seperator {
    margin-top: 0;
  }

  .partner {
    height: auto;
  }

  .reviews {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .reviews .reviews_text p {
    font-size: 14px;
    font-weight: normal;
    color: #787780;
  }

  .reviews img {
    height: 150px;
  }

  .benefits_section .benefits_img img {
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 0 8px 0 0;
  }

  .benefits_section .benefits_details {
    margin-top: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 500px;
  }

  .section-form .contact .highlight-text h2 {
    font-size: 22px;
    color: white;
    font-weight: normal;
  }

  .section-form .contact .highlight-text p {
    font-size: 16px;
    color: white;
    font-weight: normal;
  }

  .footer {
    width: auto;
    height: auto;
    background-color: #e5f7f8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .footer-content .subscribe input {
    width: 300px;
    height: 45px;
    background-color: #292837;
    border-radius: 8px;
    text-align: center;
    border: none;
  }

  .footer-content .subscribe button {
    width: 300px;
    height: 45px;
  }

  .footer-content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
    padding: 10px;
  }

  .footer-content .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    gap: 5px;
  }

  .footer-content .footer-link .footer_links .link_item {
    padding: 0px 10px;
  }
}

/* Existing CSS styles */

/* Media query for responsiveness */

@media screen and (max-width: 375px) and (max-height: 800px) {
  .mobile-menu {
    right: 0;
    z-index: 2;
    position: absolute;
    top: 5%;
    background-color: white;
    width: 50vh;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
  }
  .main-header {
    min-height: 50px; /* Adjust height for smaller screens */
    width: auto;
    height: auto;

    .blue-header {
      height: 30px; /* Adjust height for smaller screens */
      flex-direction: row; /* Stack items vertically for smaller screens */
      gap: 10px; /* Adjust gap between items for smaller screens */
      padding: 5px; /* Adjust padding for smaller screens */
    }

    .detail {
      min-width: 70%;
      flex-direction: row;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    .phone {
      font-size: 9px; /* Adjust font size for smaller screens */
      gap: 5px;
      img {
        height: 15px;
      }
    }

    .icon-btn {
      .icons {
        display: none;
      }
      gap: 4px; /* Adjust gap between items for smaller screens */
      .funBtn {
        display: none;
      }
    }

    .nav {
      margin-left: 0; /* Remove left margin for smaller screens */
      gap: 100px; /* Adjust gap between items for smaller screens */
      align-items: center;

      .logo {
        margin-top: 10px;
        width: 100px;
      }
    }

    .menu {
      display: block;
    }

    .nav__links {
      display: none;
    }
  }

  .slider {
    height: auto; /* Set slider height to auto */
  }

  .slider_img {
    height: 100%; /* Set slider image height to 100% */
  }

  .hero_text {
    top: 40%;
    width: 100%;

    .head {
      width: 100%;
      font-size: 50px;
      height: 70px;
    }
    .sub_head {
      font-size: 15px;
    }
  }

  .section__description {
    font-size: 2rem;
  }

  .section__header {
    font-size: 1.5rem;
  }

  .section__title p {
    font-size: 0.8rem;
  }

  .margin-top span {
    font-size: 10px;
  }

  .margin-top button {
    color: white;
    padding: 10px 10px;
    background-color: #f60515;
    border-radius: 8px;
    width: 100px;
    height: 29px;
    border-style: none;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: normal;
  }
  .section__img {
    display: none;
  }

  .offerings-img {
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    width: auto;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
  }
  .card-info {
    font-size: 8px;
    line-height: normal;
    margin: 0;
    font-weight: normal;
    margin: 20px 0;
  }

  .card-btn {
    padding: 5px 5px;
    width: 80px;
    font-size: 8px;
  }
  .card-container {
    height: auto;
    margin-top: 10px;
  }

  .card {
    width: 100%;
    height: auto;
  }
  .dots-container {
    margin-top: 10px;
  }
  .dots {
    width: 10px;
    height: 10px;
  }
  .dots-active {
    width: 8px;
    height: 8px;
  }

  .welcome-img {
    display: none;
  }

  .welcome-text {
    width: auto;
    height: auto;
    padding: 5px 10px;

    h3 {
      font-size: 20px;
    }
  }

  .seperator {
    display: none;
  }

  .partner {
    height: auto;
    h3 {
      font-size: 12px;
    }
    img {
      width: 40px;
      filter: brightness(80%);
    }
  }

  .reviews {
    img {
      width: 100px;
    }
  }

  .reviews-container .reviews .reviews_text {
    padding: 20px 20px;

    p {
      font-size: 10px;
    }

    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 12px;
    }
  }

  .gallery_section {
    height: 400px;
  }
  .gallery_section .map {
    top: 0%;
    position: absolute;
    overflow: hidden;
    width: 100px;
  }

  .gallery_section .gallery {
    gap: 20px;
  }

  .benefits_section {
    height: auto;
  }

  .benefits_section .benefits_img {
    display: none;
  }

  .benefits_section .benefits_details {
    width: 370px;
    gap: 10px;
    padding: 10px;
  }

  .benefits_section .benefits_details .head-text {
    width: 100%;
  }

  .benefits_section .benefits_details .head-text h3 {
    font-size: 12px;
  }

  .benefits_section .benefits_details .head-text h2 {
    font-size: 18px;
  }

  .benefits_section .other-text {
    z-index: 1;
    width: 500px;
    width: 100%;
  }

  .benefits_section .other-text p {
    font-size: 12px;
  }

  .benefits-list img {
    height: 50px;
    width: 50px;
  }

  .benefits_section .benefits-list .list-details h3 {
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .benefits_section .benefits-list .list-details p {
    font-size: 10px;
    font-weight: normal;
    color: #9fa4b7;
  }

  .section-form .contact .highlight-text {
    display: none;
  }

  .footer {
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
    height: auto;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust gap between elements */
    height: auto; /* Allow height to adjust based on content */
    padding: 20px;
  }

  .footer-details {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 350px; /* Limit maximum width for smaller screens */
  }

  .footer-content .footer-link {
    height: auto;
    gap: 10px;
  }

  .footer-content .footer-link .footer_links {
    margin-top: 0;
  }

  .footer-content .footer-link .footer_links .link_item {
    padding: 10px;
  }

  .footer-link,
  .subscribe {
    width: 100%; /* Make these sections full width */
  }

  .footer-bottom {
    height: 80px; /* Adjust height of footer bottom for smaller screens */
  }

  .footer-bottom .copy-right {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements */
    justify-content: flex-start;
    gap: 10px; /* Adjust gap between elements */
    text-align: center; /* Center align text */
  }

  .footer-bottom .copy-right p {
    margin-left: 0;
    font-size: 12px;
  }

  .red-arrow {
    width: 100%; /* Make red arrow full width */
    border-radius: 0; /* Remove border radius */
  }

  .footer-bottom .copy-right img {
    width: 25px; /* Adjust size of social media icons */
    height: 25px;
  }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
  .mobile-menu {
    right: 0;
    z-index: 2;
    position: absolute;
    top: 5%;
    background-color: white;
    width: 50vh;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
  }
  .main-header {
    min-height: 50px; /* Adjust height for smaller screens */
    width: auto;
    height: auto;

    .blue-header {
      height: 30px; /* Adjust height for smaller screens */
      flex-direction: row; /* Stack items vertically for smaller screens */
      gap: 10px; /* Adjust gap between items for smaller screens */
      padding: 5px; /* Adjust padding for smaller screens */
    }

    .detail {
      min-width: 70%;
      flex-direction: row;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    .phone {
      font-size: 9px; /* Adjust font size for smaller screens */
      gap: 5px;
      img {
        height: 15px;
      }
    }

    .icon-btn {
      .icons {
        display: none;
      }
      gap: 4px; /* Adjust gap between items for smaller screens */
      .funBtn {
        display: none;
      }
    }

    .nav {
      margin-left: 0; /* Remove left margin for smaller screens */
      gap: 100px; /* Adjust gap between items for smaller screens */
      align-items: center;

      .logo {
        margin-top: 10px;
        width: 100px;
      }
    }

    .menu {
      display: block;
    }

    .nav__links {
      display: none;
    }
  }

  .slider {
    height: auto; /* Set slider height to auto */
  }

  .slider_img {
    height: 100%; /* Set slider image height to 100% */
  }

  .hero_text {
    top: 40%;
    width: 100%;

    .head {
      width: 100%;
      font-size: 50px;
      height: 70px;
    }
    .sub_head {
      font-size: 15px;
    }
  }

  .section__description {
    font-size: 2rem;
  }

  .section__header {
    font-size: 1.5rem;
  }

  .section__title p {
    font-size: 0.8rem;
  }

  .margin-top span {
    font-size: 10px;
  }

  .margin-top button {
    color: white;
    padding: 10px 10px;
    background-color: #f60515;
    border-radius: 8px;
    width: 100px;
    height: 29px;
    border-style: none;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: normal;
  }
  .section__img {
    display: none;
  }

  .offerings-img {
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    width: auto;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
  }
  .card-info {
    font-size: 8px;
    line-height: normal;
    margin: 0;
    font-weight: normal;
    margin: 20px 0;
  }

  .card-btn {
    padding: 5px 5px;
    width: 80px;
    font-size: 8px;
  }

  .card-container {
    height: auto;
    margin-top: 10px;
  }

  .card {
    width: 100%;
    height: auto;
  }
  .dots-container {
    margin-top: 10px;
  }
  .dots {
    width: 10px;
    height: 10px;
  }
  .dots-active {
    width: 8px;
    height: 8px;
  }

  .welcome-img {
    display: none;
  }

  .welcome-text {
    width: auto;
    height: auto;
    padding: 5px 10px;

    h3 {
      font-size: 20px;
    }
  }

  .seperator {
    display: none;
  }

  .partner {
    height: auto;
    h3 {
      font-size: 12px;
    }
    img {
      width: 40px;
      filter: brightness(80%);
    }
  }

  .reviews {
    img {
      width: 100px;
    }
  }

  .reviews-container .reviews .reviews_text {
    padding: 20px 20px;

    p {
      font-size: 10px;
    }

    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 12px;
    }
  }

  .gallery_section {
    height: 400px;
  }
  .gallery_section .map {
    top: 0%;
    position: absolute;
    overflow: hidden;
    width: 100px;
  }

  .gallery_section .gallery {
    gap: 20px;
  }

  .benefits_section {
    height: auto;
  }

  .benefits_section .benefits_img {
    display: none;
  }

  .benefits_section .benefits_details {
    width: 370px;
    gap: 10px;
    padding: 10px;
  }

  .benefits_section .benefits_details .head-text {
    width: 100%;
  }

  .benefits_section .benefits_details .head-text h3 {
    font-size: 12px;
  }

  .benefits_section .benefits_details .head-text h2 {
    font-size: 18px;
  }

  .benefits_section .other-text {
    z-index: 1;
    width: 500px;
    width: 100%;
  }

  .benefits_section .other-text p {
    font-size: 12px;
  }

  .benefits-list img {
    height: 50px;
    width: 50px;
  }

  .benefits_section .benefits-list .list-details h3 {
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .benefits_section .benefits-list .list-details p {
    font-size: 10px;
    font-weight: normal;
    color: #9fa4b7;
  }

  .section-form .contact .highlight-text {
    display: none;
  }

  .footer {
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
    height: auto;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust gap between elements */
    height: auto; /* Allow height to adjust based on content */
    padding: 20px;
  }

  .footer-details {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 350px; /* Limit maximum width for smaller screens */
  }

  .footer-content .footer-link {
    height: auto;
    gap: 10px;
  }

  .footer-content .footer-link .footer_links {
    margin-top: 0;
  }

  .footer-content .footer-link .footer_links .link_item {
    padding: 10px;
  }

  .footer-link,
  .subscribe {
    width: 100%; /* Make these sections full width */
  }

  .footer-bottom {
    height: 80px; /* Adjust height of footer bottom for smaller screens */
  }

  .footer-bottom .copy-right {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements */
    justify-content: flex-start;
    gap: 10px; /* Adjust gap between elements */
    text-align: center; /* Center align text */
  }

  .footer-bottom .copy-right p {
    margin-left: 0;
  }

  .red-arrow {
    width: 100%; /* Make red arrow full width */
    border-radius: 0; /* Remove border radius */
  }

  .footer-bottom .copy-right img {
    width: 25px; /* Adjust size of social media icons */
    height: 25px;
  }
}

@media screen and (max-width: 430px) and (max-height: 932px) {
  .mobile-menu {
    right: 0;
    z-index: 2;
    position: absolute;
    top: 5%;
    background-color: white;
    width: 50vh;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
  }
  .main-header {
    min-height: 50px; /* Adjust height for smaller screens */
    width: auto;
    height: auto;

    .blue-header {
      height: 30px; /* Adjust height for smaller screens */
      flex-direction: row; /* Stack items vertically for smaller screens */
      gap: 10px; /* Adjust gap between items for smaller screens */
      padding: 5px; /* Adjust padding for smaller screens */
    }

    .detail {
      min-width: 70%;
      flex-direction: row;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }

    .phone {
      font-size: 9px; /* Adjust font size for smaller screens */
      gap: 5px;
      img {
        height: 15px;
      }
    }

    .icon-btn {
      .icons {
        display: none;
      }
      gap: 4px; /* Adjust gap between items for smaller screens */
      .funBtn {
        display: none;
      }
    }

    .nav {
      margin-left: 0; /* Remove left margin for smaller screens */
      gap: 100px; /* Adjust gap between items for smaller screens */
      align-items: center;

      .logo {
        margin-top: 10px;
        width: 100px;
      }
    }

    .menu {
      display: block;
    }

    .nav__links {
      display: none;
    }
  }

  .slider {
    height: 30%; /* Set slider height to auto */
  }

  .slider_img {
    height: 100%; /* Set slider image height to 100% */
  }

  .hero_text {
    top: 40%;
    width: 100%;

    .head {
      width: 100%;
      font-size: 50px;
      height: 70px;
    }
    .sub_head {
      font-size: 15px;
    }
  }

  .section__description {
    font-size: 2rem;
  }

  .section__header {
    font-size: 1.5rem;
  }

  .section__title p {
    font-size: 0.8rem;
  }

  .margin-top span {
    font-size: 10px;
  }

  .margin-top button {
    color: white;
    padding: 10px 10px;
    background-color: #f60515;
    border-radius: 8px;
    width: 100px;
    height: 29px;
    border-style: none;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: normal;
  }
  .section__img {
    display: none;
  }

  .offerings-img {
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    width: auto;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-sub-title {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal;
  }
  .card-info {
    font-size: 8px;
    line-height: normal;
    margin: 0;
    font-weight: normal;
    margin: 20px 0;
  }

  .card-btn {
    padding: 5px 5px;
    width: 80px;
    font-size: 8px;
  }

  .card-container {
    height: auto;
    margin-top: 10px;
  }

  .card {
    width: 100%;
    height: auto;
  }
  .dots-container {
    margin-top: 10px;
  }
  .dots {
    width: 10px;
    height: 10px;
  }
  .dots-active {
    width: 8px;
    height: 8px;
  }

  .welcome-img {
    display: none;
  }

  .welcome-text {
    width: auto;
    height: auto;
    padding: 5px 10px;

    h3 {
      font-size: 20px;
    }
  }

  .seperator {
    display: none;
  }

  .partner {
    height: auto;
    h3 {
      font-size: 12px;
    }
    img {
      width: 40px;
      filter: brightness(80%);
    }
  }

  .reviews {
    img {
      width: 100px;
    }
  }

  .reviews-container .reviews .reviews_text {
    padding: 20px 20px;

    p {
      font-size: 10px;
    }

    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 12px;
    }
  }

  .gallery_section {
    height: 400px;
  }
  .gallery_section .map {
    top: 0%;
    position: absolute;
    overflow: hidden;
    width: 100px;
  }

  .gallery_section .gallery {
    gap: 20px;
  }

  .benefits_section {
    height: auto;
  }

  .benefits_section .benefits_img {
    display: none;
  }

  .benefits_section .benefits_details {
    width: 370px;
    gap: 10px;
    padding: 10px;
  }

  .benefits_section .benefits_details .head-text {
    width: 100%;
  }

  .benefits_section .benefits_details .head-text h3 {
    font-size: 12px;
  }

  .benefits_section .benefits_details .head-text h2 {
    font-size: 18px;
  }

  .benefits_section .other-text {
    z-index: 1;
    width: 500px;
    width: 100%;
  }

  .benefits_section .other-text p {
    font-size: 12px;
  }

  .benefits-list img {
    height: 50px;
    width: 50px;
  }

  .benefits_section .benefits-list .list-details h3 {
    color: white;
    font-size: 14px;
    font-weight: normal;
  }

  .benefits_section .benefits-list .list-details p {
    font-size: 10px;
    font-weight: normal;
    color: #9fa4b7;
  }

  .section-form .contact .highlight-text {
    display: none;
  }

  .footer {
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
    height: auto;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Adjust gap between elements */
    height: auto; /* Allow height to adjust based on content */
    padding: 20px;
  }

  .footer-details {
    width: 90%; /* Adjust width for smaller screens */
    max-width: 350px; /* Limit maximum width for smaller screens */
  }

  .footer-content .footer-link {
    height: auto;
    gap: 10px;
  }

  .footer-content .footer-link .footer_links {
    margin-top: 0;
  }

  .footer-content .footer-link .footer_links .link_item {
    padding: 10px;
  }

  .footer-link,
  .subscribe {
    width: 100%; /* Make these sections full width */
  }

  .footer-bottom {
    height: 80px; /* Adjust height of footer bottom for smaller screens */
  }

  .footer-bottom .copy-right {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements */
    justify-content: flex-start;
    gap: 10px; /* Adjust gap between elements */
    text-align: center; /* Center align text */
  }

  .footer-bottom .copy-right p {
    margin-left: 0;
  }

  .red-arrow {
    width: 100%; /* Make red arrow full width */
    border-radius: 0; /* Remove border radius */
  }

  .footer-bottom .copy-right img {
    width: 25px; /* Adjust size of social media icons */
    height: 25px;
  }
}

@media screen and (max-width: 360px) and (max-height: 740px) {
  .mobile-menu {
    right: 0;
    z-index: 2;
    position: absolute;
    top: 5%;
    background-color: white;
    width: 50vh;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
  }
  .benefits_section .benefits_details {
    width: 360px;
    gap: 10px;
    padding: 10px;
  }

  .section-form .contact .highlight-text {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  .mobile-menu {
    right: 0;
    z-index: 2;
    position: absolute;
    top: 5%;
    background-color: white;
    width: 45vh;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.774);
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .welcome-section {
    gap: 40px;
    height: auto;
  }

  .welcome-section .welcome-img {
    margin-top: 25px;
    width: 450px;
    height: 200px;
  }

  .welcome-section .seperator {
    height: 350px;
  }

  .welcome-text {
    margin-top: 0;
    height: auto;
    padding: 15px;
  }
  .welcome-text h3 {
    font-size: 20px;
  }

  /* .welcome-text p {
    font-size: 10px;
  } */

  .partner {
    height: auto;
  }

  .partner h3 {
    font-size: 18px;
  }
  .partner img {
    filter: brightness(80%);
    height: 50px;
  }

  .reviews-container .reviews .reviews_text {
    height: auto;
    padding: 20px 20px;
  }

  .reviews-container .reviews img {
    width: 150px;
  }

  .reviews-container .reviews .reviews_text p {
    font-size: 10px;
  }

  .benefits_section {
    height: 550px;
    width: 100%;
    gap: 15px;
  }

  .benefits_section .benefits_img {
    width: 350px;
  }

  .benefits_section .benefits_details {
    gap: 20px;
    width: 360px;
  }
  .benefits_section .benefits_details .head-text {
    width: 100%;
  }
  .benefits_section .benefits_details .head-text h3 {
    font-size: 18px;
  }
  .benefits_section .benefits_details .head-text h2 {
    font-size: 22px;
  }

  .benefits_section .other-text {
    width: 100%;
  }

  .benefits_section .other-text p {
    font-size: 14px;
  }

  .benefits_section .benefits-list {
    gap: 20px;
  }

  .benefits_section .benefits-list img {
    height: 50px;
  }

  .benefits_section .benefits-list .list-details h3 {
    font-size: 16px;
  }
  .benefits_section .benefits-list .list-details p {
    font-size: 14px;
  }

  .footer .footer-content {
    gap: 20px;
    height: auto;
    padding: 10px;
  }

  .footer-content .footer-details {
    width: 250px;
  }

  .footer-content .footer-details p {
    font-size: 12px;
  }

  .footer-content .footer-details .contact-details .detail1 span {
    font-size: 12px;
  }

  .footer-content .footer-link h3 {
    font-size: 18px;
  }

  .footer-content .footer-link {
    gap: 10px;
    height: auto;
  }

  .footer-content .footer-link .footer_links .link_item {
    padding: 3px;
  }
  .footer-content .footer-link .footer_links a {
    font-size: 12px;
    line-height: 3px;
  }
  .footer .footer-content .subscribe input {
    width: 200px;
    height: 40px;
  }
  .footer .footer-content .subscribe button {
    width: 200px;
    height: 40px;
  }

  .footer-bottom {
    width: 90%;
    height: 60px;
  }
}
